# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# RStudio
.Rhistory
.RData
.Rproj.user
*.Rproj           # чтобы сам RStudio проект не коммитился

# HTML
README.html

# VSCode
.vscode/

# Большие WARC файлы (не коммитим)
*.warc
*.warc.gz

# Скриншоты/временные файлы (если не нужны сюда добавить пути в виде:)
# docs/screenshots/temp/


